/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

.mat-form-field-appearance-legacy .mat-form-field-underline .mat-form-field-ripple {
  background-color: white;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white;
}
